<head xmlns="http://www.w3.org/1999/html">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <title>rooster wijzigingen</title>
</head>
<body>
{% block content %}
    <div class="info">
    </div>
    <div class="main">
        <h3>add user</h3>
        {% if error_message %}<p style="color: red;"><strong>{{ error_message }}</strong></p>{% endif %}
        <form action="{%  url 'register:add' %}" method="POST">
            {% csrf_token %}
            <input placeholder="leerlingnummer" type="number" name="number" id="number">
            <br/>
            <input placeholder="email" type="email" name="email" id="email">
            <br/>
            <input type="submit" value="add to database">
        </form>
        <h3>remove user</h3>
        <form action="{%  url 'register:remove' %}" method="POST">
            {% csrf_token %}
            <input placeholder="leerlingnummer" type="number" name="number" id="number">
            <br/>
            <input type="submit" value="remove from database">
        </form>
        <p>{{ object_list.count }} mensen krijgen realtime updates over het rooster.</p>
    </div>
    <div class="footer">
        <p>DISCLAIMER: Deze site is niet verantwoordelijk voor te laat komen!!!</p>
    </div>
{% endblock %}
</body>