<head>
    <title>rooster wijzigingen</title>
</head>
{% block content %}
    <h2>users</h2>
    <h5>add user</h5>
    <form action="{%  url 'register:add' %}" method="POST">
    {% csrf_token %}
        <input type="number" name="number" id="number">
        <input type="email" name="email" id="email">
        <input type="submit" value="add to database">
    </form>
    <h5>remove user</h5>
    <form action="{%  url 'register:remove' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="number" id="number">
        <input type="submit" value="remove from database">
    </form>
    <ul>
        {% for user in object_list %}
            <li>{{ user.number }}: {{ user.email }}</li>
        {% endfor %}
    </ul>
{% endblock %}