<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'register/style.css' %}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>rooster wijzigingen</title>
    </head>
    <body>
        <div class="container">

            <form action="{%  url 'register:add' %}" method="POST" class="form-signin" role="form"> {% csrf_token %}
                <h2 class="form-signin-heading">add user</h2>
                {% if error_message %}<p style="color: red;"><strong>{{ error_message }}</strong></p>{% endif %}

                <input placeholder="leerlingnummer" type="number" name="number" class="form-control" required>
                <input placeholder="email" type="email" name="email" class="form-control" required>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Subscribe</button>
            </form>

            <form action="{%  url 'register:remove' %}" method="POST" class="form-signin" role="form"> {% csrf_token %}
                <h2 class="form-signin-heading">remove user</h2>

                <input placeholder="leerlingnummer" type="number" name="number" id="number" class="form-control" required>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Unsubscribe</button>
            </form>

            <p>{{ object_list.count }} mensen krijgen realtime updates over het rooster.</p>

            <div class="footer">
                <p>DISCLAIMER: Deze site is niet verantwoordelijk voor te laat komen!!!</p>
            </div>
        </div>
    </body>
</html>